.navBar__container {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.navBar__icon {
    cursor: pointer;
    
}

