.fault {
    font-family: var(--h3-font-family);
    color: rgba(255, 255, 255, 0.8);
    font-size: 19px;
    margin-bottom: 1rem;
}

.ticket-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 667px;
    overflow: hidden;
    background: linear-gradient(to top, #231F42 55%, #F56B9A 100%);
}

.swiper-container {
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-slide {
    width: 100%;
    height: auto;
}